/* ===== CSS Styling ===== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f9f9f9, #e6f7ff);
}

header {
  background: #ddb340;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background: #30383f86;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 30px;
  text-align: center;
}

section img {
  width: 300px;
  border-radius: 10px;
  margin-top: 15px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #004080;
}

footer {
  background: #0066cc;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}